<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Route: {{route}} {{ response }}</title>
</head>

<body>
  <div class="container">
    <div class="container text-center lead">
      <pre>{{ response }}</pre>
    </div>
    <div class="container">
      <footer class="text-center container" style="position: absolute; bottom: 0; ">
        <p>Branch/Env: {{ branch}} SHA: {{ sha }}</p>
      </footer>
    </div>
  </div>
</body>

</html>